
@media only screen and (min-width: 1651px) and (max-width: 99999px) {
div.grid_1 .menuButon  {
/* display:none !important; */
}
}




@media only screen and (min-width: 1281px) and (max-width: 1650px) {
#sitename a {
}

div.grid_1 .menuButon  {
display:none !important;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
div.grid_1 .menuButon  {
display:none !important;
}

#navigation {
margin-left:22px  ;

}

#navigation ul.menu li {
font-size:12px ;
margin:22px 0 0 0 ;
padding:0px 0 4px 0 ;
}

#navigation ul.menu li a {
padding:10px 10px 0px 10px !important;
}

#sitename a:after {
display:none;	
}

#nav-top {

}

#block-top  h3,
#block-feature h3,
#block-beforecontent h3,
#block-aftercontent h3,
#block-bottomcontent h3,
#block-footertop h3,
#block-footerbottom h3 {
font-size:18px;
}

.soc_icons li a {
font-size: 13px;
margin: 2px 2px;
border-radius:50%;
width:13px;
height:13px;
padding:6px;
 color:#161616; 
line-height:13px;
}

div.page-header h1,
div.content-category h1,
div.categories-list h1,
div.search h1.page-title,
div.finder h1,
div.contact h1,
.tag-category h2,
.contact h2 {
font-size:20px;
}

.readmore a  {
padding:5px 9px;
font-size:10px;
letter-spacing:2px;
}
 

}


@media only screen and (min-width: 880px) and (max-width: 1023px) {
div.grid_1 .menuButon  {
display:none !important;
}

#navigation ul.menu li {
font-size:11px ;
margin:22px 0 0 0 ;
padding:0px 0 4px 0 ;
}

#navigation ul.menu li a {
padding:10px 8px 0px 8px !important;
}

#sitename a:after {
display:none;	
}

#nav-top {

}

#block-top  h3,
#block-feature h3,
#block-beforecontent h3,
#block-aftercontent h3,
#block-bottomcontent h3,
#block-footertop h3,
#block-footerbottom h3 {
font-size:16px;
}

.soc_icons li a {
font-size: 12px;
margin: 4px 2px;
border-radius:50%;
width:12px;
height:12px;
padding:4px;
 color:#161616; 
line-height:13px;
}

div.page-header h1,
div.content-category h1,
div.categories-list h1,
div.search h1.page-title,
div.finder h1,
div.contact h1,
.tag-category h2,
.contact h2 {
font-size:18px;
}

.readmore a  {
padding:3px 7px;
font-size:10px;
letter-spacing:1px;
}
 
}



 @media only screen and (min-width: 801px) and (max-width: 879px) {
div.grid_1 .menuButon  {
display:none !important;
}

#navigation ul.menu li {
font-size:10px ;
margin:22px 0 0 0 ;
padding:0px 0 4px 0 ;
text-align:center;
}

#navigation ul.menu li a {
padding:10px 5px 0px 5px !important;
text-align:center;
}

#sitename a:after {
display:none;	
}

#sitename a{
width: 100% ;
text-align: center;
margin-top: 7px;
transition: all ease 700ms;
-moz-transition: all ease 700ms;
-webkit-transition: all ease 700ms;
 -ms-transition: all ease 700ms;
 -o-transition: all ease 700ms;
} 

#nav-top {
text-align:center;

}

#block-top  h3,
#block-feature h3,
#block-beforecontent h3,
#block-aftercontent h3,
#block-bottomcontent h3,
#block-footertop h3,
#block-footerbottom h3 {
font-size:16px;
}

/* .soc_icons li a {
font-size: 12px;
margin: 4px 2px;
border-radius:50%;
width:12px;
height:12px;
padding:4px;
 color:#161616; 
line-height:13px;
} */

div.page-header h1,
div.content-category h1,
div.categories-list h1,
div.search h1.page-title,
div.finder h1,
div.contact h1,
.tag-category h2,
.contact h2 {
font-size:18px;
}

.readmore a  {
padding:3px 7px;
font-size:10px;
letter-spacing:1px;
}

div.container_12 > div.grid_1 > div.menuButon > a#openMenu {
 display:block; 
}


}


@media only screen and (min-width: 0px) and (max-width: 800px) {
.cols-1 {
display: block;
float: none !important;
width:100%;
}

.cols-2 .column-1 {
width: 100%;
float: left;
}

.cols-2 .column-2 {
width: 100%;
float: right;
margin: 0
}

.cols-3 .column-1 {
float: left;
width: 100%;
padding: 0 ; 
margin-right: 0;
margin-bottom: 0%;
}

.cols-3 .column-2 {
float: left;
width: 100%;
margin-left: 0;
padding: 0 px;
}

.cols-3 .column-3 {
float: right;
width: 100%;
padding: 0 px;
}


 .menuButon a{
position:absolute;
left:48%;
margin-top:20px;
display: inline-block; 
width: 22px !important;
height: 14px !important;
background:url(../images/menu.png) no-repeat center top; 
-webkit-transition:-webkit-transform .9s; 
-moz-transition:-moz-transform .9s;       
-o-transition:-o-transform .9s;          
-ms-transition:-ms-transform .9s;        
transition:transform .9s;
z-index:99;	
}


 #sitename{
 float:left;
width: 100%;
text-align: center;
margin-top: 7px;
transition: all ease 700ms;
-moz-transition: all ease 700ms;
-webkit-transition: all ease 700ms;
 -ms-transition: all ease 700ms;
 -o-transition: all ease 700ms;
 padding:40px 0;
} 

#sitename a {
font-weight:700;
transition: all ease 700ms;
-moz-transition: all ease 700ms;
-webkit-transition: all ease 700ms;
-ms-transition: all ease 700ms;
-o-transition: all ease 700ms;
padding:0;
margin:0px 0 0 0; 
font-size:25px;
padding:0;
text-align:center !important;
letter-spacing:5px;
line-height:25px;
}

#sitename a:after {
display:none;	
}

#navigation {
 display:none; 
}

#header-top{
width: 100%;
position: relative;
 height: 60px ;
background:#fff;
}

#header-bottom{
/* display:none; */
}
.grid_1 #search,.soc_icons_box{
display:none;
}

.grid_1 .menuButon{
padding-top:10px;
}

#header-top{
width: 100%;
position: relative;
background:#fff;
z-index:999;
-moz-box-shadow: 0px 0px 0px 0px #eee;
-webkit-box-shadow: 0px 0px 0px 0px #eee;
-o-box-shadow: 0px 0px 0px 0px #eee;
box-shadow: 0px 0px 0px 0px #eee;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#eee, Direction=0, Strength=0);
}

/***TITRE ARTICLE GRILLE 12 / COLONNE 1 *****/
.grid_12 .span12 div.article-blog h2.article-header-blog,
.grid_12 div.article-blog > h2.article-header-blog{
font-size:20px;
/* text-align:center !important; */
}

/***TITRE ARTICLE GRILLE 12 / COLONNE 2 *****/
.grid_12 .span6 div.article-blog h2.article-header-blog{
font-size:18px;
}

/***TITRE ARTICLE GRILLE 12 / COLONNE 3 *****/
.grid_12 .span4 div.article-blog h2.article-header-blog{
font-size:12px;
}


/***TITRE ARTICLE GRILLE 9 / COLONNE 1 *****/
.grid_9 .span12 div.article-blog h2.article-header-blog {
font-size:18px;
}

/***TITRE ARTICLE GRILLE 9 / COLONNE 2 *****/
.grid_9 .span6  div.article-blog h2.article-header-blog{
font-size:15px;
}


/***TITRE ARTICLE GRILLE 9 / COLONNE 3 *****/
.grid_9 .span4 div.article-blog h2.article-header-blog{
font-size:11px;
}


/***TITRE ARTICLE GRILLE 6 / COLONNE 1 *****/
.grid_6 .span12 div.article-blog h2.article-header-blog{
font-size:20px;
}

/***TITRE ARTICLE GRILLE 6 / COLONNE 2 *****/
.grid_6 .span6 div.article-blog h2.article-header-blog{
font-size:15px;
}


/***TITRE ARTICLE GRILLE 6 / COLONNE 3 *****/
.grid_6 .span4 div.article-blog h2.article-header-blog{
font-size:11px;
}

div.container_12 > div.grid_1 > div.menuButon > a#openMenu {
 display:block; 
}

} 